<h1>Question Queue</h1>
<ul>
<% @questions.each do |question| %>
  <li><%= link_to markdown(question.title), "/questions/#{question.id}"  %></li>
<% end %>
</ul>

<div class="large-12">
  <h1>New Question</h1>
  <%= form_for @question do |q| %>
    <div class="field">
    <%= q.label :title %>
    <%= q.text_field :title %>
    </div>

    <div class="field">
    <%= q.label :description %>
    <%= q.text_area :description %>
    </div>

    <div class="field">
    <%= q.label :user %>
    <%= q.text_field :user %>
    </div>

    <%= q.submit "Add Question" %>
  <%- end -%>
</div>
