<h2> Question Details </h2>
<h3><%= markdown(@question.title) %></h3>
<ul>
  <li><%= markdown(@question.description) %></li>
  <%= link_to 'Edit', '/questions/' + @question.to_param + '/edit/', class: "button alert" %></br>
  <%= link_to 'Delete', '/questions/' + @question.to_param, method: :delete, class: "button alert" %></br>
</ul>

<h4>The Answers</h4>
<% @answers.each do |answer| %>
  <li><%= markdown(answer.body) %></li>
  <%= button_to 'THIS IS THE BEST', [@question, answer], :method => :patch, class: "button success" %>
<% end %>

<div class="large-12">
  <h1>New Answer</h1>

  <%= form_for [@question, @new_answer] do |q| %>
    <%= q.label :body %>
    <%= q.text_area :body %>

    <%= q.submit "Add Answer" %>
  <%- end -%>
</div>
